---
layout: archive
title: "Teaching & Supervision"
permalink: /teaching/
author_profile: true
---


<ul class="teaching-list">
  <li>
    <b>AI/ML Mentor</b><br>
    <span class="teaching-meta">Danish Data Science Academy <span class="teaching-date">2024–present</span></span><br>
    <span class="teaching-desc">Mentored data science professionals in AI and machine learning applications, focusing on practical insights for industry use.</span>
  </li>
  <li>
    <b>PhD Project Co-Supervision</b><br>
    <span class="teaching-meta">Prognostic Agents from Gut Microbiome in CLL Patients – Copenhagen University <span class="teaching-date">2023–2024</span></span>
  </li>
  <li>
    <b>PhD Course Co-Instructor</b><br>
    <span class="teaching-meta">Introduction to Machine Learning in Biomedical Research – Copenhagen University <span class="teaching-date">2022–2023</span></span>
  </li>
  <li>
    <b>MSc Project Course</b><br>
    <span class="teaching-meta">Feature Engineering for Microbiome Data – CHIP/DTU <span class="teaching-date">2023</span></span>
  </li>
  <li>
    <b>MSc & Undergraduate Courses</b><br>
    <span class="teaching-meta">Analysis of Eye Movements Associated with Pain Stimuli – Aalborg University <span class="teaching-date">2018–2019</span></span>
  </li>
</ul>

<div class="teaching-group-label" style="font-weight:700;font-size:1.05em;margin:2em 0 0.5em 0;color:#1a6ed8;">Before 2016 teaching experiences</div>
<ul class="teaching-list">
  <li>
    <b>Fundamentals of Electrical Engineering</b><br>
    <span class="teaching-meta">IUST <span class="teaching-date">2015–2016</span></span>
  </li>
  <li>
    <b>Digital Electronics and Electronic Circuits Labs</b><br>
    <span class="teaching-meta">Payam Nour University <span class="teaching-date">2015–2016</span></span>
  </li>
  <li>
    <b>Workshops & Short Courses</b><br>
    <span class="teaching-meta">Brain Mapping Using EEG and ERP – IBRO PhD Workshop, Shahid Beheshti University</span>
  </li>
  <li>
    <b>Biosignal Acquisition Systems</b><br>
    <span class="teaching-meta">EEG, EMG, ECG, and EOG – MSc Workshop, IUST</span>
  </li>
  <li>
    <b>Pattern Recognition in Brain Signals during Sleep Stages</b><br>
    <span class="teaching-meta">MSc Project, IUST</span>
  </li>
  <li>
    <b>Application of Artificial Neural Networks in Mining Engineering</b><br>
    <span class="teaching-meta">BSc Project, Azad University</span>
  </li>
</ul>

<style>
.teaching-list {
  list-style: none;
  padding: 0;
  margin: 1.5em 0 2em 0;
}
.teaching-list li {
  margin-bottom: 1.2em;
  padding-bottom: 0.7em;
  border-bottom: 1px solid #eee;
}
.teaching-meta {
  color: #2a3b4c;
  font-size: 0.98em;
}
.teaching-date {
  color: #888;
  font-size: 0.92em;
  margin-left: 0.5em;
}
.teaching-desc {
  color: #444;
  font-size: 0.97em;
}
.teaching-group-label {
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: #1a6ed8;
  font-weight: 700;
  font-size: 1.05em;
}
</style>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
