/* style.css */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#dynamic-header {
  width: 100vw;
  height: 300px; /* Adjust height as needed */
  background: rgb(10, 10, 55); /* Dark blue background for contrast */
}
